openapi: 3.0.1
info:
  title: Teste de fim da trilha BackEnd
  description: Esta API é um cadastro de Desenvolvedores com seus respectivos Aplicativos.
  contact:
    name: Marcelo Henrique Chaves
    email: marcelohenrique.inovacao@gmail.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 1.0.0
servers:
- url: https://localhost:44337
  description: Production server (uses live data)
paths:
  /v1/aplicativos:
    get:
      tags:
      - Aplicativo
      summary: Retorna todos os Desenvolvedores Cadastrados
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Desenvolvedor'
  /v1/aplicativo/{id}:
    get:
      tags:
      - Aplicativo
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
    put:
      tags:
      - Aplicativo
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AtualizarAplicativoCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/AtualizarAplicativoCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/AtualizarAplicativoCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AtualizarAplicativoCommand'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
    delete:
      tags:
      - Aplicativo
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
  /v1/aplicativo/desenvolvedoresrelacionados/{id}:
    get:
      tags:
      - Aplicativo
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
  /v1/aplicativo/registrar:
    post:
      tags:
      - Aplicativo
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RegistrarAplicativoCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrarAplicativoCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/RegistrarAplicativoCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RegistrarAplicativoCommand'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
  /v1/aplicativo/vincularDesenvolvedor:
    put:
      tags:
      - Aplicativo
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/VincularAplicativoDesenvolvedorCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/VincularAplicativoDesenvolvedorCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/VincularAplicativoDesenvolvedorCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/VincularAplicativoDesenvolvedorCommand'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
  /v1/aplicativo/desvincularDesenvolvedor:
    put:
      tags:
      - Aplicativo
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/DesvincularAplicativoDesenvolvedorCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/DesvincularAplicativoDesenvolvedorCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/DesvincularAplicativoDesenvolvedorCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/DesvincularAplicativoDesenvolvedorCommand'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
  /v1/aplicativo/AdicionarDesenvolvedorResponsavel:
    put:
      tags:
      - Aplicativo
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AdicionarDesenvolvedorResponsavelCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/AdicionarDesenvolvedorResponsavelCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/AdicionarDesenvolvedorResponsavelCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AdicionarDesenvolvedorResponsavelCommand'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
  /v1/aplicativo/RemoverDesenvolvedorResponsavel:
    put:
      tags:
      - Aplicativo
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RemoverDesenvolvedorResponsavelCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/RemoverDesenvolvedorResponsavelCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/RemoverDesenvolvedorResponsavelCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RemoverDesenvolvedorResponsavelCommand'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
  /v1/desenvolvedores:
    get:
      tags:
      - Desenvolvedor
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
  /v1/desenvolvedor/{id}:
    get:
      tags:
      - Desenvolvedor
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
    put:
      tags:
      - Desenvolvedor
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/AtualizarDesenvolvedorCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/AtualizarDesenvolvedorCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/AtualizarDesenvolvedorCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/AtualizarDesenvolvedorCommand'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
    delete:
      tags:
      - Desenvolvedor
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
  /v1/desenvolvedor/aplicativosrelacionados/{id}:
    get:
      tags:
      - Desenvolvedor
      parameters:
      - name: id
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
  /v1/desenvolvedor/registrar:
    post:
      tags:
      - Desenvolvedor
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/RegistrarDesenvolvedorCommand'
          application/json:
            schema:
              $ref: '#/components/schemas/RegistrarDesenvolvedorCommand'
          text/json:
            schema:
              $ref: '#/components/schemas/RegistrarDesenvolvedorCommand'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RegistrarDesenvolvedorCommand'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
            text/json:
              schema:
                $ref: '#/components/schemas/ICommandResult'
components:
  schemas:
    AdicionarDesenvolvedorResponsavelCommand:
      required:
      - idAplicativo
      - idDesenvolvedor
      type: object
      properties:
        idAplicativo:
          type: string
          format: uuid
        idDesenvolvedor:
          type: string
          format: uuid
      additionalProperties: false
    Aplicativo:
      required:
      - dataLancamento
      - nome
      - plataforma
      type: object
      properties:
        id:
          type: string
          format: uuid
          nullable: true
          readOnly: true
        nome:
          type: string
        dataLancamento:
          type: string
          format: date-time
          readOnly: true
        plataforma:
          $ref: '#/components/schemas/ETipoPlataforma'
        idDesenvolvedorResponsavel:
          type: string
          format: uuid
          nullable: true
          readOnly: true
        nomeResponsavel:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    AtualizarAplicativoCommand:
      required:
      - dataLancamento
      - id
      - nome
      - tipoPlataforma
      type: object
      properties:
        id:
          type: string
          format: uuid
        nome:
          type: string
        dataLancamento:
          type: string
        tipoPlataforma:
          $ref: '#/components/schemas/ETipoPlataforma'
      additionalProperties: false
    AtualizarDesenvolvedorCommand:
      required:
      - cpf
      - email
      - id
      - nome
      type: object
      properties:
        id:
          type: string
          format: uuid
        nome:
          type: string
        cpf:
          type: string
        email:
          type: string
      additionalProperties: false
    CPF:
      maxLength: 11
      minLength: 11
      type: string
      nullable: false
    Desenvolvedor:
      required:
      - cpf
      - email
      - nome
      type: object
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        nome:
          type: string
          nullable: false
        cpf:
          $ref: '#/components/schemas/CPF'
        email:
          $ref: '#/components/schemas/Email'
      additionalProperties: false
    DesvincularAplicativoDesenvolvedorCommand:
      required:
      - idAplicativo
      - idDesenvolvedor
      type: object
      properties:
        idAplicativo:
          type: string
          format: uuid
        idDesenvolvedor:
          type: string
          format: uuid
      additionalProperties: false
    Email:
      maximum: 100
      type: object
      additionalProperties: false
      nullable: false
    ETipoPlataforma:
      type: integer
      description: "Valores: 1-Desktop, 2-Web ou 3-Mobile"
      format: int32
      enum:
      - 1
      - 2
      - 3
    status:
      type: string
      readOnly: true
      enum:
      - 200 Ok
      - 400 Bad Request
      - 404 Not Found
    ICommandResult:
      type: object
      properties:
        status:
          $ref: '#/components/schemas/status'
        result:
          description: "Retorna um array de objetos, podendo ser um texto explicativo.\
            \ Preenchido somente se não houver erros."
          oneOf:
          - $ref: '#/components/schemas/Aplicativo'
          - $ref: '#/components/schemas/Desenvolvedor'
          - type: string
        erros:
          type: array
          items:
            $ref: '#/components/schemas/ICommandResult_erros'
      additionalProperties: false
    RegistrarAplicativoCommand:
      type: object
      properties:
        messageType:
          type: string
          nullable: true
          readOnly: true
        aggregateId:
          type: string
          format: uuid
          readOnly: true
        timestamp:
          type: string
          format: date-time
          readOnly: true
        validationResult:
          $ref: '#/components/schemas/ValidationResult'
        id:
          type: string
          format: uuid
          readOnly: true
        nome:
          type: string
          nullable: true
          readOnly: true
        dataLancamento:
          type: string
          nullable: true
          readOnly: true
        tipoPlataforma:
          $ref: '#/components/schemas/ETipoPlataforma'
        desenvolvedorResponsavel:
          $ref: '#/components/schemas/Desenvolvedor'
      additionalProperties: false
    RegistrarDesenvolvedorCommand:
      type: object
      properties:
        messageType:
          type: string
          nullable: true
          readOnly: true
        aggregateId:
          type: string
          format: uuid
          readOnly: true
        timestamp:
          type: string
          format: date-time
          readOnly: true
        validationResult:
          $ref: '#/components/schemas/ValidationResult'
        id:
          type: string
          format: uuid
          readOnly: true
        nome:
          type: string
          nullable: true
          readOnly: true
        cpf:
          type: string
          nullable: true
          readOnly: true
        email:
          type: string
          nullable: true
          readOnly: true
      additionalProperties: false
    RemoverDesenvolvedorResponsavelCommand:
      required:
      - idAplicativo
      type: object
      properties:
        idAplicativo:
          type: string
          format: uuid
      additionalProperties: false
    VincularAplicativoDesenvolvedorCommand:
      required:
      - idAplicativo
      - idDesenvolvedor
      type: object
      properties:
        idAplicativo:
          type: string
          format: uuid
        idDesenvolvedor:
          type: string
          format: uuid
      additionalProperties: false
    ICommandResult_erros:
      type: object
      properties:
        campo:
          type: string
        erro:
          type: string
